NEXT_PUBLIC_APIKEY=1
NEXT_PUBLIC_AUTHDOMAIN=1
NEXT_PUBLIC_PROJECTID=1
NEXT_PUBLIC_STORAGEBUCKET=1
NEXT_PUBLIC_MESSAGINGSENDERID=1
NEXT_PUBLIC_APPID=1
NEXT_PUBLIC_MEASUREMENTID=1
NEXT_PUBLIC_BASEURL=localhost:3000
NEXT_PUBLIC_DESC=CheatCode will save you from having to remember everything you learn