@tailwind base;
@tailwind components;
@tailwind utilities;


.container-h2 {
    @apply flex sm:basis-full flex-wrap items-start gap-5 mb-9;
}

.container-h3 {
    @apply basis-full flex flex-col max-w-full;
}

.container-col {
    @apply flex 2xl:basis-[24%] 2xl:max-w-[24%] lg:basis-[32%] lg:max-w-[32%] md:basis-[48%] md:max-w-[48%] sm:basis-full sm:max-w-full flex-wrap items-start
}

/* .container-h3 {
    @apply flex 2xl:basis-[24%] 2xl:max-w-[24%] lg:basis-[32%] lg:max-w-[32%] md:basis-[48%] md:max-w-[48%] sm:basis-full sm:max-w-full flex-wrap items-start;
} */

@layer utilities {
    /* Chrome, Safari and Opera */
    .scrollbar::-webkit-scrollbar {
        scrollbar-width: thin;
        scrollbar-color: #fa3e00 #ffffff;
    }
    .scrollbar::-webkit-scrollbar {
        width: 5px;
        height: 10px;
    }
    .scrollbar::-webkit-scrollbar-track {
        background: #fefefe;
    }
    .scrollbar::-webkit-scrollbar-thumb {
        background-color: rgba(2,132,199,0.2);
        border-radius: 5px;
        border: 3px solid #ffffff;
    }
}

.prism-code {
    font-size: 0.8em;
    background-color: transparent !important;
}
.token .comment {
    font-size: 0.9em;
}